# MySQL connection settings
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=heart_disease_dashboard

# Flask/Tableau embedding
TABLEAU_DASHBOARD_URL=https://public.tableau.com/views/HeartDiseasePrediction_17730017390650/HeartDiseaseDataAnalysisKeyInsights?:showVizHome=no